{% extends 'hospital/admin_base.html' %}
{% block content %}
{%load static%}

     
        <br>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="background-color: #43d5cb;" colspan="7"><center>Doctors</center></th>
                   
                  </tr>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Profile Picture</th>
                <th scope="col">Mobile</th>
                <th scope="col">Address</th>
                <th scope="col">Department</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            
              </tr>
            </thead>
            {% for d in doctors %}
      <tr>

        <td> {{d.get_name}}</td>
        <td> <img src="{% static d.profile_pic.url %}" alt="Profile Pic" height="40px" width="40px" /></td>
        <td>{{d.mobile}}</td>
        <td>{{d.address}}</td>
        <td>{{d.department}}</td>
        <td><a class="btn btn-primary btn-xs" href="{% url 'update-doctor' d.id  %}"><span class="glyphicon glyphicon-edit"></span></a></td>
        <td><a class="btn btn-danger btn-xs" href="{% url 'delete-doctor-from-hospital' d.id  %}"><span class="glyphicon glyphicon-trash"></span></a></td>
      </tr>
      {% endfor %}
          </table>
    </div>
  </div>
</div>
{% endblock content %}
