{% extends 'hospital/admin_base.html' %}
{% load static %}
{% block content %}


      <table class="table table-bordered" id="dev-table">
        <thead>
          <tr>
            <th style="background-color: #43d5cb;" colspan="7"><center>Patient</center></th>
           
          </tr>
          <tr>
            <th>Name</th>
            <th>Profile Picture</th>
            <th>Symptoms</th>
            <th>Mobile</th>
            <th>Address</th>
            <th>Update</th>
            <th>Delete</th>
          </tr>
        </thead>
        {% for p in patients %}
        <tr>
          <td> {{p.get_name}}</td>
          <td> <img src="{% static p.Profile_pic.url %}" alt="Profile Pic" height="40px" width="40px" /></td>
          <td>{{p.symptoms}}</td>
          <td>{{p.mobile}}</td>
          <td>{{p.address}}</td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'update-patient' p.id  %}"><span class="glyphicon glyphicon-edit"></span></a></td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'delete-patient-from-hospital' p.id  %}"><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="7">No patients found.</td>
        </tr>
        {% endfor %}
      </table>
    
    </div>
  </div>
{% endblock content %}

