{% extends 'hospital/admin_base.html' %}
{% load static %}
{% block content %}

      <div class="container">
        <div class="panel panel-primary">
          
          <table class="table table-hover" id="dev-table">
            <thead>
              <tr>
                <th style="background-color: #43d5cb;" colspan="4"><center>Appointments</center></th>
               
              </tr>
              <tr>
                <th>Doctor Name</th>
                <th>Patient Name</th>
                <th>Description</th>
                <th>Date</th>
              </tr>
            </thead>
            {% for a in appointments %}
            <tr>
              <td> {{a.doctorName}}</td>
              <td>{{a.patientName}}</td>
              <td>{{a.description}}</td>
              <td>{{a.appointmentDate}}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
