{% extends 'hospital/homebase.html' %}
{% load static %}
{% block content %}
<section id="hero" class="min-vh-100 d-flex align-items-center ">
    <div class="container">
        <div class="row">
            <div class="col-12 ">
                <h1 data-aos="fade-left" class="text-left text-uppercase text-white fw-semibold display-3">Health Care<br><span >For Whole Family</span></h1>
                <h5 class="text-white mt-3 mb-4" data-aos="fade-right"></h5>
                <div data-aos="fade-up" data-aos-delay="50">
                    <a href="#" class="btn btn-brand me-2">Know More</a>
                  
                </div>
            </div>
        </div>
    </div>
</section>


<!-- ABOUT -->
<section id="team" class="section-padding">
<div class="container">
  <div class="row">
      <div class="col-sm-4">
        <div class="card-deck">
          <div class="card-body">
              <i class="fa-solid fa-phone"></i>
              <h5 class="card-title">Emergency Cases</h5>
              <p class="card-text">Ut wisi enim ad minim veniam, quis laore nostrud exerci tation </p>
              <p class="card-text"> +91 7979922872</p>
            
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card-deck">
          <div class="card-body">
              <i  style="font-size: 40px;" class="fa-solid fa-table"></i>
              <br>
              <h5 class="card-title">Doctors Timetable</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
        <div class="col-sm-4">
        <div class="card-deck">
          <div class="card-body">
              <i  style="font-size: 40px;" class="fa-solid fa-business-time"></i>
              <br>
            <h5 class="card-title">Opening Hours</h5>
            <p class="card-text"><table class="table">
              
              <tbody>
                <tr>
                  <td scope="row">Monday-Friday</td>
                  <td>7:00Am to 12:00Pm</td>
                 
                </tr>
                <tr>
                  <td scope="row">Saturday</td>
                  <td>9:30Am to 9:00Pm</td>
                 
                </tr>
                <tr>
                  <td scope="row">Sunday</td>
                  <td>9:30Am to 9:00Pm</td>
                 
                </tr>
              </tbody>
            </table>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
<!-- SERVICES -->
<section id="team" class="section-padding">
  <div class="container">
      <div class="row">
          <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="150">
              <div class="section-title">
                  <h1 class="display-4 fw-semibold">Our Doctors</h1>
                  <div class="line"></div>
                
              </div>
          </div>
      </div>
      <div class="row g-4 text-center ">
          <div class="col-md-4" data-aos="fade-down" data-aos-delay="150">
              <div class="team-member image-zoom">
                  <div class="image-zoom-wrapper">
                      <img src="./assets/images/banner.jpg" alt="">
                  </div>
                  <div class="team-member-content">
                      <h4 class="text-white">Jon Doe</h4>
                      <p class="mb-0 text-white">Webflow Artist</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4" data-aos="fade-down" data-aos-delay="250">
              <div class="team-member image-zoom">
                  <div class="image-zoom-wrapper">
                      <img src="./assets/images/person-2.jpg" alt="">
                  </div>
                  <div class="team-member-content">
                      <h4 class="text-white">Jon Doe</h4>
                      <p class="mb-0 text-white">Webflow Artist</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4" data-aos="fade-down" data-aos-delay="350">
              <div class="team-member image-zoom">
                  <div class="image-zoom-wrapper">
                      <img src="./assets/images/person-3.jpg" alt="">
                  </div>
                  <div class="team-member-content">
                      <h4 class="text-white">Jon Doe</h4>
                      <p class="mb-0 text-white">Webflow Artist</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section> 


<section id="counter" class="section-padding">
  <div class="container text-left">
      <div class="col-12 ">
          <h1 data-aos="fade-right" class="text-left text-uppercase text-black fw-semibold display-1" >Best<br><span >Laboratories </span></h1>
          <h4 style="font-size: 40px; color: #43d5cb;" data-aos="fade-left">All Test Available</h4>
          <h5 class="text-white mt-3 mb-4" data-aos="fade-right"></h5>
          <div data-aos="fade-up" data-aos-delay="50">
           
            
          </div>
      </div>
  </div>
</section>

<!-- PORTFOLIO -->
<section id="portfolio" class="section-padding">
  <div class="container">
      <div class="row">
          <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="150">
              <div class="section-title">
                  <h1 class="display-4 fw-semibold">Our Gallery</h1>
                  <div class="line"></div>
                  
              </div>
          </div>
      </div>
      <div class="row g-4">
          <div class="col-md-4" data-aos="fade-down" data-aos-delay="150">
              <div class="portfolio-item image-zoom">
                  <div class="image-zoom-wrapper">
                      <img src="./assets/images/g (1).jpg" alt="">
                  </div>
                  <a href="./assets/images/g (1).jpg" data-fancybox="gallery" class="iconbox"><i class="ri-search-2-line"></i></a>
              </div>
              <div class="portfolio-item image-zoom mt-4">
                  <div class="image-zoom-wrapper">
                      <img src="./assets/images/g (2).jpg" alt="">
                  </div>
                  <a href="./assets/images/g (2).jpg" data-fancybox="gallery" class="iconbox"><i class="ri-search-2-line"></i></a>
              </div>
          </div>
          <div class="col-md-4" data-aos="fade-down" data-aos-delay="250">
              <div class="portfolio-item image-zoom">
                  <div class="image-zoom-wrapper">
                      <img src="./assets/images/g (3).jpg" alt="">
                  </div>
                  <a href="./assets/images/g (3).jpg" data-fancybox="gallery" class="iconbox"><i class="ri-search-2-line"></i></a>
              </div>
              <div class="portfolio-item image-zoom mt-4">
                  <div class="image-zoom-wrapper">
                      <img src="./assets/images/g (4).jpg" alt="">
                  </div>
                  <a href="./assets/images/g (4).jpg" data-fancybox="gallery" class="iconbox"><i class="ri-search-2-line"></i></a>
              </div>
          </div>
          <div class="col-md-4" data-aos="fade-down" data-aos-delay="350">
              <div class="portfolio-item image-zoom">
                  <div class="image-zoom-wrapper">
                      <img src="./assets/images/g (5).jpg" alt="">
                  </div>
                  <a href="./assets/images/g (5).jpg" data-fancybox="gallery" class="iconbox"><i class="ri-search-2-line"></i></a>
              </div>
              <div class="portfolio-item image-zoom mt-4">
                  <div class="image-zoom-wrapper">
                      <img src="./assets/images/g (6).jpg" alt="">
                  </div>
                  <a href="./assets/images/g (6).jpg" data-fancybox="gallery" class="iconbox"><i class="ri-search-2-line"></i></a>
              </div>
          </div>
      </div>
  </div>
</section>
{% endblock content %}
