<!DOCTYPE html>
{% load static %}
 <!-- NAVBAR -->
 <nav class="navbar navbar-expand-lg bg-white sticky-top">
  <div class="container">
      <a class="navbar-brand" href="#">
          <img src="{% static './assets/images/logo-dark.png'%}" height="100" width="150" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                  <a class="nav-link" href="index.html">Home</a>
              </li>
            
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Admin</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/adminlogin">Login</a></li>
                    <li><a class="dropdown-item" href="/adminsignup">Singup</a></li>
                   
                  
                </ul>
             </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Doctor</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/doctorlogin">Login</a></li>
                    <li><a class="dropdown-item" href="/doctorsignup">Singup</a></li>
                   
                  
                </ul>
             </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Patient</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/patientlogin">Login</a></li>
                    <li><a class="dropdown-item" href="/patientsignup">Singup</a></li>
                   
                  
                </ul>
             </li>
              
              <li class="nav-item">
                <a href="/aboutus" class="nav-item nav-link">About Us</a>
              </li>
              <li class="nav-item">
                <a href="/contactus" class="nav-item nav-link">Contact Us</a>
              </li>
              
          </ul>
      
      </div>
  </div>
</nav>

</body>

</html>
