{% extends 'hospital/homebase.html' %}
{% load widget_tweaks %}
{%load static%}

{% block content %}
<style>
  .col-md-6 .form-group {
    margin-bottom: 20px; 
}
</style>
<form method="post">
  {% csrf_token %}
  <div class="container register-form">
    <div class="form">
      <div class="note">
        <section id="team" class="section-padding">
          <div class="container">
              <div class="row">
                  <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="150">
                      <div class="section-title">
                          <h1 class="display-4 fw-semibold">Patient Singup</h1>
                          <div class="line"></div>
                        
                      </div>
                  </div>
              </div>
          </div>
          </section>
      </div>

      <div class="form-content">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              {% render_field userForm.first_name class="form-control" placeholder="First Name" %}
            </div>
            <div class="form-group">
              {% render_field userForm.username class="form-control" placeholder="Username" %}
            </div>
            <div class="form-group">
              {% render_field patientForm.address class="form-control" placeholder="Address" %}
            </div>
            <div class="form-group">
              {% render_field patientForm.symptoms class="form-control" placeholder="Symptoms" %}
            </div>
            <div class="form-group">
              {% render_field patientForm.profile_pic required="required" class="form-control" placeholder="Profile Picture" %}
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              {% render_field userForm.last_name class="form-control" placeholder="Last Name" %}
            </div>
            <div class="form-group">
              {% render_field userForm.password class="form-control" placeholder="Password" %}
            </div>
            <div class="form-group">
              {% render_field patientForm.mobile class="form-control" pattern="[6789][0-9]{9}" placeholder="Mobile Number" %}
            </div>
            <div class="form-group">
              {% render_field patientForm.assignedDoctorId class="form-control" placeholder="Doctor" %}
            </div>

          </div>
        </div>
        <br>
        <button type="submit" class="btnSubmit btn btn-outline-warning">Singup</button>
        <div class="text-center">Already have an account? <a href="patientlogin">Login here</a></div>
      </div>
    </div>
  </div>

</form>

{% endblock content %}
