{%load static%}


      <div class="container">
        <div class="row">
            <div class="col-sm-4">
              <div class="card-deck">
                <div class="card-body">
                    <a href="/">
                    
                      <h3>{{doctorName}}</h3>
                      <h4>Doctor Name</h4>
                   
                    <i class="fa fa-user-o"> </i>
                    </a>
                  
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card-deck">
                <div class="card-body">
                    <a href="/">
                    
                      <h3>{{symptoms}}</h3>
                      <h4>Symptoms</h4>
                      <i class="fa fa-info-circle"></i>
                    </a>
                </div>
              </div>
            </div>
              <div class="col-sm-4">
              <div class="card-deck">
                <div class="card-body">
                    <a href="/">
                    
                      <h3>{{doctorMobile}}</h3>
                      <h4>Doctor Mobile</h4>
                      <i class="fa fa-mobile" aria-hidden="true"></i>
                  </a>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
              <div class="col-sm-4">
                <div class="card-deck">
                  <div class="card-body">
                      <a href="/">
                        <h3>{{doctorAddress}}</h3>
                        <h4>Doctor Address</h4>
                     
                        <i class="fa fa-map-marker"> </i>
                      </a>
                    
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="card-deck">
                  <div class="card-body">
                      <a href="/">
                      
                        <h3>{{doctorDepartment}}</h3>
                        <h4>Doctor Department</h4>
                      
                     
                        <i class="fa fa-list-alt"></i>
                      </a>
                  </div>
                </div>
              </div>
                <div class="col-sm-4">
                <div class="card-deck">
                  <div class="card-body">
                      <a href="/">
                      
                        <h3>{{admitDate}}</h3>
                        <h4>Admit Date</h4>
                     
                      
                        <i class="fa fa-calendar-o" aria-hidden="true"></i>
                    </a>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
</body>

</html>
