{% extends 'hospital/patient_base.html' %}
{% block content %}
{%load static%}

<div class="container">

    <form  action="/searchdoctor" method="get" style="margin-left:50%;" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" name="query" id="query" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
 

  {% if doctors %}
  
    <table class="table table-bordered" id="dev-table">
      
        <thead>
          <tr>
            <th style="background-color: #43d5cb;" colspan="7"><center>Doctor List</center></th>
           
          </tr>
          <tr>
  
            <th>Name</th>
            <th>Profile Picture</th>
            <th>Mobile</th>
            <th>Address</th>
            <th>Department</th>
           
          </tr>
        </thead>
        {% for d in doctors %}
        <tr>
  
          <td> {{d.get_name}}</td>
          <td> <img src="{% static d.DoctorProfilePic.url %}" alt="Profile Pic" height="40px" width="40px" /></td>
          <td>{{d.mobile}}</td>
          <td>{{d.address}}</td>
          <td>{{d.department}}</td>
        </tr>
        {% endfor %}
      </table>
  </div>
  {%else%}
  <br><br><br>
  <h4 style="text-align: center;color: red;">No Doctor Found !!!</h4>
  {% endif %}


</div>


{% endblock content %}
